.form {
  .input {
    &__title, &__text {
      width: calc(100% - 1.1rem);
      padding: .2rem .5rem;
      border: .05rem solid var(--color-grey);
      border-radius: .2rem;
      transition: all 0.2s;
      &:focus {
        outline: none;
        box-shadow: 1px 1px 5px 1px var(--color-grey);
      }
    }
    &__title {
      font-size: var(--font-title);
    }
    &__text {
      font-size: var(--font-size-base);
      width: 100%;
      resize: none;
    }
  }
  &__group {
    &:not(:first-child) {
      margin: 1rem 0;
    }
  }
}
