.form {
  &__search {
    margin: 2rem 0;
    width: 100%;
  }
}

.input__search {
  width: calc(100% - 1.1rem);
  height: 2rem;
  padding: .2rem .5rem;
  font-size: var(--font-size-base);
  border: .07rem solid var(--color-grey);
  border-radius: .4rem;
  transition: all 0.2s;

  &:focus {
    outline: none;
    box-shadow: 1px 1px 5px 1px var(--color-grey);
  }
}
