.button {
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: all 0.2s;
  background: none;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 1px 1px 5px 1px var(--color-grey);
  }

  &__action {
    &_prev {
      width: 2rem;
      height: 2rem;
      border: .06rem solid var(--color-grey);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: '';
        display: flex;
        background: url("../../assets/images/svg/back.svg") no-repeat center;
        width: 1rem;
        height: 1rem;
      }
    }
    &_remove {
      background: url("../../assets/images/svg/trash.svg") no-repeat;
      border: none;
      width: 1.5rem;
      height: 1.5rem;
      padding: .5rem;
      &:hover {
        box-shadow: none;
      }
    }
  }
  &__primary {
    height: 2.5rem;
    min-width: 5rem;
    border: .05rem solid var(--color-grey);
    border-radius: .4rem;
  }
}

.group {
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
  }
}
