@import "../../../assets/mixins";

.progressbar {
  width: 90%;
  @media #{$min768} {
    width: 100%;
  }
  height: 100%;
  background: url("../../../assets/images/preloader.gif") white no-repeat center;
  position: absolute;
  transition: all 1s;
  z-index: 9;
  opacity: .5;
}
